* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #F5F5F5;
}

/**  SCROLL STYLE 2 */

::-webkit-scrollbar-thumb {
  background-color: #3e45fe;
}

::-webkit-scrollbar-track {
  background-color: #FFF;
}

#login-frame {
  z-index: 222;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 1000px;
  width: 700px;
}

#login-frame iframe {
  display: block;
  height: 100%;
  width: 100%;
}

ul {
  margin: 0
}

html {
  overflow-x: hidden
}


::selection {
  background: #3e45fe;
  color: #fff
}

::-moz-selection {
  background: #3e45fe;
  color: #fff
}

button {
  cursor: pointer
}

button:focus,
input:focus {
  outline: 0
}

input {
  border: 0
}

button {
  border: 0;
  background: 0
}

img {
  max-width: 100%;
  height: auto
}

p {
  margin: 0
}

.table-responsive {
  padding-right: 1px
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important
}


@media(max-width:991px) {
  body {
    overflow-x: hidden;
  }
}

h2,
h3,
h5 {
  color: #333;
  font-weight: 700;
  margin: 0;
  line-height: 1.2
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h5 {
  font-size: 15px
}

strong {
  font-weight: 700
}

.title-1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px
}

.title-2 {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  line-height: 1
}

a {
  display: inline-block
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: 0
}

a:hover,
a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease
}

.section__content {
  position: relative;
  margin: 0 auto;
  z-index: 1
}

.section__content--p30 {
  padding: 0 30px
}

@media(max-width:991px) {
  .section__content--p30 {
    padding: 0
  }
}

.page-container {
  background: #e5e5e5;
  padding-left: 300px
}

@media(max-width:991px) {
  .page-container {
    position: relative;
    top: 88px;
    padding-left: 0
  }
}

#send-button {
  color: #fff;
  background-color: #3d5afe;
  border-color: #3d5afe
}

#send-button:hover {
  color: #fff;
  background-color: #577bf9;
  border-color: #bbbaff
}

#send-button:focus {
  background-color: #576ff9
}

#generate-button {
  color: #fff;
  background-color: #3d5afe;
  border-color: #3d5afe;
}

#generate-button:hover {
  color: #fff;
  background-color: #577bf9;
  border-color: #bbbaff;
}

#generate-button:focus {
  background-color: #576ff9;
}

#generate-qr-button {
  color: #fff;
  background-color: #3d5afe;
  border-color: #3d5afe;
}

#generate-qr-button:hover {
  color: #fff;
  background-color: #577bf9;
  border-color: #bbbaff
}

#generate-qr-button:focus {
  background-color: #576ff9
}


#copy-button {
  color: #fff;
  background-color: #3d5afe;
  border-color: #3d5afe;
  right: 0;
  float: right;
}

#copy-button:hover {
  color: #fff;
  background-color: #577bf9;
  border-color: #bbbaff
}

#copy-button:focus {
  background-color: #576ff9
}


.main-content {
  padding-top: 116px;
  min-height: 100vh
}

@media(max-width:991px) {
  .main-content {
    padding-top: 50px
  }
}

.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

@media(max-width:991px) {
  .form-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

.card {
  margin-bottom: 30px
}

.header-desktop {
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 75px;
  z-index: 3
}

.header-desktop .section__content {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

@media(max-width:991px) {
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 80px
  }
}

@media(max-width:991px) {
  .logo img {
    height: 75px;
    text-align: center
  }
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media(min-width:992px) and (max-width:1199px) {
  .header-wrap .account-item>.content {
    display: none
  }
}

@media(max-width:991px) {
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.header-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media(max-width:991px) {
  .header-button {
    margin-top: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

.account-wrap {
  position: relative
}

.account-item {
  cursor: pointer
}

@media(max-width:991px) {
  .account-wrap {
    float: right;
    right: 0
  }
}

.account-item>.content {
  margin-left: 45px;
  padding: 9px 0;
  padding-left: 12px
}

.account-item>.content>a {
  color: #333;
  text-transform: capitalize;
  font-weight: 500
}

.account-item>.content>a:after {
  font-family: "Material-Design-Iconic-Font";
  font-weight: 500;
  content: '\f2f9';
  display: inline-block;
  font-size: 16px;
  margin-left: 5px
}

.account-item>.content>a:hover {
  color: #666
}

.account-dropdown {
  min-width: 305px;
  position: absolute;
  top: 58px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  z-index: 3
}

.account-dropdown:after {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -18px;
  right: 33px
}

.account-dropdown__footer {
  border-top: 1px solid #f2f2f2
}

.account-dropdown__footer a {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px
}

.account-dropdown__footer a:hover {
  background: #4272d7;
  color: #fff
}

.account-dropdown__footer a i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle
}

.account-dropdown__footer div {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px
}

.account-dropdown__footer div a {
  display: inline !important;
  padding: 0px 0px !important;
  padding-left: 20px !important;
}

.account-dropdown__footer div:hover {
  cursor: pointer;
  background: #4272d7;
  color: #fff
}

.account-dropdown__footer div i {
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle
}

.menu-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: hidden
}

.menu-sidebar .logo {
  background: #f5f5f5;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
  position: relative;
  z-index: 3
}

.menu-sidebar__content {
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px)
}

.navbar-sidebar {
  padding: 35px;
  padding-bottom: 0
}

.navbar-sidebar .navbar__list li a {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 15px 0
}

.navbar-sidebar .navbar__list li a i {
  margin-right: 19px
}

.navbar-sidebar .navbar__list li a:hover {
  color: #4272d7
}

.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.header-mobile .header-mobile-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.header-mobile .hamburger {
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 1;
  vertical-align: top;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header-mobile .hamburger .hamburger-box {
  width: 20px;
  height: 15px
}

.header-mobile .hamburger .hamburger-box .hamburger-inner {
  width: 20px;
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:before {
  width: 20px;
  height: 2px;
  top: 6px
}

.header-mobile .hamburger .hamburger-box .hamburger-inner:after {
  top: 12px;
  width: 20px;
  height: 2px
}

.header-mobile .navbar-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
  z-index: 20
}

.header-mobile .navbar-mobile .navbar-mobile__list {
  background: #f8f8f8
}

.header-mobile .navbar-mobile .navbar-mobile__list>li>a {
  padding-left: 15px !important
}

.header-mobile .navbar-mobile .navbar-mobile__list li a {
  color: #555;
  display: block;
  padding: 10px 15px;
  padding-right: 25px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
  line-height: inherit
}

.header-mobile .navbar-mobile .navbar-mobile__list li a:hover {
  color: #4272d7
}

.header-mobile .navbar-mobile .navbar-mobile__list li a>i {
  margin-right: 19px
}

.overview-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media(max-width:767px) {
  .overview-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .overview-wrap h2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
}

.overview-item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px
}

@media(min-width:992px) and (max-width:1519px) {
  .overview-item {
    padding-left: 15px;
    padding-right: 15px
  }
}

.overview-item--c4 {
  background-image: -moz-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  background-image: -webkit-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  background-image: -ms-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  float: left;
  margin-right: 50px
}

@media(max-width:991px) {
  .overview-item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px
  }
  .overview-item--c4 {
    background-image: -moz-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
    background-image: -webkit-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
    background-image: -ms-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
    margin-right: 0px
  }
}

.overview-box .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px
}

.overview-box .icon i {
  font-size: 60px;
  color: #fff
}

@media(min-width:992px) and (max-width:1199px) {
  .overview-box .icon {
    margin-right: 3px
  }
  .overview-box .icon i {
    font-size: 30px
  }
}

@media(max-width:991px) {
  .overview-box .icon {
    font-size: 46px
  }
}

.overview-box .text {
  font-weight: 300;
  display: inline-block
}

.overview-box .text h2 {
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 5px
}

.overview-box .text span {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6)
}

@media(min-width:992px) and (max-width:1199px) {
  .overview-box .text {
    display: inline-block
  }
  .overview-box .text h2 {
    font-size: 20px;
    margin-bottom: 0
  }
  .overview-box .text span {
    font-size: 14px
  }
}

@media(max-width:991px) {
  .overview-box .text h2 {
    font-size: 26px
  }
  .overview-box .text span {
    font-size: 15px
  }
}

.overview-chart {
  height: 115px;
  position: relative
}

.overview-chart canvas {
  width: 100%
}

.au-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  background: #fff;
  overflow: hidden
}

.au-card-inner {
  max-height: 200px
}

.recent-report {
  max-height: 220px;
  max-width: 500px;
  padding-bottom: 65px;
  margin-bottom: 60px
}

.recent-report__chart {
  max-height: 125px
}

#recent-rep-chart {
  max-height: 100%;
  width: 100%;
  height: auto
}

.chart-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-size: 14px
}

.chart-note {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 12px;
  font-size: 14px
}

.chart-note .dot {
  margin-right: 7px
}

.recent-report__chart canvas {
  width: 100%
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%
}

.dot--blue {
  background: #3e45fe
}

.dot--red {
  background: #f95757
}

.table {
  margin: 0;
}

.table-responsive.table--no-card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}



.table-earning thead th {
  background-image: -moz-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  background-image: -webkit-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  background-image: -ms-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);

  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  padding: 22px 40px;
  white-space: nowrap;
}

.table-earning thead th.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody td {
  color: #808080;
  padding: 12px 40px;
  white-space: nowrap;
}

.table-earning tbody td.text-right {
  padding-left: 15px;
  padding-right: 65px;
}

.table-earning tbody tr:hover td {
  color: #555;
  cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

.table-top-countries tbody td {
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  padding: 14px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-top-countries tbody tr:last-child td {
  border-bottom: none;
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
}

.table-style1 .table tr:last-child td {
  border-bottom: none;
}

.table-style1 .table tr td:last-child {
  padding-right: 30px;
}

.table-style1 .table td {
  font-size: 14px;
  color: #808080;
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 12px 6px;
  vertical-align: middle;
}

.table-data {
  height: 472px;
  overflow-y: auto;
}

.table-data thead tr td {
  font-size: 12px;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.table-data .table td {
  border-top: none;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 23px;
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 10px;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input, textarea {
  border: none;
}

.show-dropdown .js-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.table-data .table tr td:last-child {
  padding-right: 24px;
}

.table-data tbody tr:hover td .more {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.table-data__info h6 {
  font-size: 14px;
  color: #808080;
  text-transform: capitalize;
  font-weight: 400;
}

.table-data__info span a {
  font-size: 12px;
  color: #999;
}

.table-data__info span a:hover {
  color: #666;
}

.copyright {
  text-align: center;
  padding: 60px 0;
  padding-top: 20px
}

.copyright p {
  font-size: 14px;
  color: #666;
  line-height: -webkit-calc(24/14);
  line-height: -moz-calc(24/14);
  line-height: calc(24/14)
}

.m-b-25 {
  margin-bottom: 25px
}

.m-b-40 {
  margin-bottom: 40px
}

#clickablething {
  cursor: pointer;
  color: #555;
}

#clickablething:hover {
  cursor: pointer;
  color: #3e45fe;
}
