@import "https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Roboto:300,400,500,700";
html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100%;
  background-color: #A9A9A9;
}



*,
*:before,
*:after {
  box-sizing: border-box;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem
}

.alert-danger {
  color: #fff;
  background-color: #f12c53;
  border-color: #f12c53
}

.info-section {
  position: relative;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  clear: left;
}

#login-frame {
  z-index: 222;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#signup-frame {
  z-index: 222;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#signup-frame iframe {
  display: block;
  height: 100%;
  width: 100%;
}

#login-frame iframe {
  display: block;
  height: 100%;
  width: 100%;
}


.hidden {
  display: none;
}

.footer-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  content: "";
  display: block;
  box-shadow: 30px 110px 0px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: -1;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 991px) {
  .footer-section {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 4px;
    overflow: hidden;
    content: "";
    display: block;
    box-shadow: 30px 110px 0px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: -1;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.box {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.hero {
  min-width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

nav {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

nav:before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 110px 30px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: red;
  top: -70px;
  z-index: -1;
}

.col-nav {
  float: left;
  margin: 0 2.33333333%;
}

.col-nav:first-child,
.col-nav:last-child {
  width: 18%;
}

.col-nav:nth-child(2) {
  width: 50%;
}

.logo-container-nav,
.menu-container-nav,
.buttons-container-nav {
  height: 100%;
  position: relative;
}

.logo-icon-nav {
  display: block;
  width: 136px;
  height: 43px;
  background: url("https://cubedpixels.net/projects/Arionum%20Wallet/images/aro-web-white-real.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-content-nav {
  height: 100%;
}

@media (max-width: 991px) {
  .menu-content-nav {
    height: 100%;
    display: none;
  }
}


.menu-content-nav li {
  display: inline-block;
  float: left;
  height: 100%;
  line-height: 72px;
  width: 19.53125%;
  margin: 0 2.734375%;
  letter-spacing: 0.5px;
}

.menu-content-nav li:hover {
  border-bottom: 2px solid #FFFFFF;
  cursor: pointer;
}

.selected-personal:after,
.selected-business:after,
.selected-send:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  position: relative;
  top: -4px;
  left: 6px;
  border: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s linear;
}

.selected-rotate:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 1px;
}

.text-nav {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.text-nav a {
  text-decoration: none;
}

.text-nav a:link,
.text-nav a:visited {
  color: #FFFFFF;
}

.buttons-content-nav {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.buttons-content-nav a {
  display: inline-block;
  width: 84px;
  height: 36px;
  line-height: 36px;
  border-radius: 25px;
}

.buttons-content-nav a:first-child {
  border: 1px solid #FFFFFF;
  margin-right: 2px;
}

.buttons-content-nav a:last-child {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.text-btn-nav {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.text-btn-nav a {
  text-decoration: none;
}

.text-btn-nav a:first-child {
  color: #FFFFFF;
}

.text-btn-nav a:last-child {
  color: #222222;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 230px;
  top: 0;
  z-index: -1;
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom, #5880FA, #313CC4 125%);
}

.sub-menu-list {
  margin: 99px 8% 0 4%;
  overflow: hidden;
}

.sub-menu-list li {
  width: 30%;
  float: left;
  white-space: nowrap;
}

.sub-menu-list li:nth-child(4) {
  clear: left;
}

.sub-menu-list li:nth-child(2),
.sub-menu-list li:nth-child(5) {
  margin: 0 5%;
}

.sub-menu-list li:nth-child(1n+4) {
  margin-top: 30px;
}

.sub-menu-list li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.sub-menu-list li a span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.85);
}

.sub-menu-list li a:hover {
  text-decoration: underline;
}

.close-menu-personal,
.close-menu-business,
.close-menu-send {
  position: absolute;
  right: 2.33333333%;
  top: 99px;
  display: block;
  width: 30px;
  height: 30px;
}

.close-menu-personal span,
.close-menu-business span,
.close-menu-send span {
  display: block;
  width: 110%;
  height: 2px;
  background-color: white;
  position: relative;
  top: 12.5px;
  left: -1px;
}

.close-menu-personal span:first-child,
.close-menu-business span:first-child,
.close-menu-send span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-menu-personal span:last-child,
.close-menu-business span:last-child,
.close-menu-send span:last-child {
  -webkit-transform: rotate(-45deg) translate(1px, -2px);
  transform: rotate(-45deg) translate(1px, -2px);
}

.closer {
  width: 100%;
  min-height: 528px;
  background-color: transparent;
  position: relative;
  z-index: -2;
}

.sub-menu-send {
  margin: 99px auto 0 auto;
  width: 700px;
  text-align: center;
}

.sub-menu-send h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.sub-menu-send a {
  margin-left: 20px;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  color: #FFFFFF;
}

.sub-menu-send a:visited {
  color: #FFFFFF;
}

.sub-menu-send a:hover {
  text-decoration: underline;
}


/* Inputs */

input {
  height: 40px;
  line-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  text-indent: 10px;
}

::-webkit-input-placeholder {
  color: #333333;
  text-indent: 10px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

input[name="email"] {
  width: 250px;
  margin-right: 5px;
}

input[name="amount"] {
  width: 100px;
  border-radius: 5px 0 0 5px;
}

select[name="currency"] {
  width: 100%;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  position: relative;
}

.currency {
  width: 70px;
  position: relative;
  left: -4px;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  vertical-align: middle;
}

.currency:before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}

.submit {
  height: 40px;
  line-height: 40px;
  width: 100px;
  margin-left: 5px;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: inline-block;
  vertical-align: middle;
}

input[name="send"] {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-indent: 0;
}


/* Headings */

h2,
h3,
h4,
h5,
h6,
.headline {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h2,
.x-large {
  letter-spacing: 0.02em;
}

h3,
h4,
h5,
h6,
.large,
.medium,
.small {
  letter-spacing: 0.01em;
}

.huge {
  font-size: 60px;
  font-size: 4.28571428571429rem;
  line-height: 1.66666666666667em;
}

h2,
.x-large {
  font-size: 40px;
  font-size: 2.857rem;
  line-height: 1.25em;
}

h3,
.large,
html[data-device-type="mobile"] h2,
html[data-device-type="mobile"] .x-large {
  font-size: 28px;
  font-size: 2rem;
  line-height: 1.25em;
}

h4,
.medium {
  font-size: 20px;
  font-size: 1.4287rem;
  line-height: 1.25em;
}

h5,
.small {
  font-weight: bold;
  font-size: 15px;
  font-size: 1.071rem;
  line-height: 1em;
}


/* Mobile version */

html[data-device-type="mobile"] h1 {
  line-height: 1.1em;
}

html[data-device-type="mobile"] h2 {
  font-size: 30px;
  font-size: 2.14285714285714rem;
}

html[data-device-type="mobile"] .fancy-down-arrow:before,
html[data-device-type="mobile"] .fancy-down-arrow:after {
  left: 25px;
}


/* Heading */

.hero-heading {
  width: 650px;
  text-align: center;
  position: absolute;
  z-index: -2;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
}


.hero-heading h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-style: italic;
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.hero-heading a {
  display: block;
  width: 320px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
}

@media (max-width: 991px) {

  .hero-heading {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: -2;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
  }


  .hero-heading h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-style: italic;
    font-size: 9vw;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  }

  .hero-heading a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 3vw;
    border-radius: 25px;
  }

}

.bluebg {
  color: #fff;
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom, #5880FA, #313CC4 125%);
}

.blue a,
.dark a {
  font-family: "pp-sans-small-bold", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  color: #fff;
}

.blue h2,
.dark h2 {
  font-family: "pp-sans-small-bold", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  color: #fff;
}

.pulloutHeadline {
  color: #fff;
}

.container a {
  display: block;
  width: 320px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
}

a.btn-blue {
  background-color: #2F36C9;
  border: 1px solid #2F36C9;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hero-heading a.btn-clear {
  border: 1px solid #FFFFFF;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.text-move {
  top: 265px;
}

/* CUBED IMAGE LOAD */

.placeholder {
  background-image: -webkit-linear-gradient(90deg, #3e45fe 0, #3d5afe 100%);
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.img-small {
  filter: blur(50px);
  transform: scale(1);
}
